<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>c++</title>
    <link rel="stylesheet" href="../../public/stylesheet/project.css">
</head>

<body>
    <div id="c++">
        <ul class="fileList">
            <li>
                <a href="" class="insideFolder" data-iframe="project/c#/aboid_block-game">
                    <img src="../../public/images/project/c++/winapi.png" alt="aboid_block">
                    <p>옷 입히기 게임</p>
                </a>
            </li>
            <li>
                <a href="" class="insideFolder" data-iframe="project/c#/aboid_block-game">
                    <img src="../../public/images/project/c++/dx9.jpg" alt="aboid_block">
                    <p>슈팅 게임</p>
                </a>
            </li>
        </ul>
    </div>
</body>

</html>