<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>c#</title>
    <link rel="stylesheet" href="../../public/stylesheet/project.css">
</head>

<body>
    <div id="design">
        <ul class="fileList">
            <li>
                <a href="" class="insideFolder" data-iframe="project/design/kakaotalk">
                    <img src="../../public/images/project/design/kakao.png" alt="kakao">
                    <p>카카오톡 모바일</p>
                </a>
            </li>
            <li>
                <a href="" class="insideFolder" data-iframe="project/design/youtube">
                    <img src="../../public/images/project/design/youtube.png" alt="youtube">
                    <p>유튜브 클론</p>
                </a>
            </li>
        </ul>
    </div>
</body>

</html>