<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>unity</title>
    <link rel="stylesheet" href="../../public/stylesheet/project.css">
</head>

<body>
    <div id="unity">
        <ul class="fileList">
            <li>
                <a href="" class="insideFolder" data-iframe="project/unity/aboid_block-game">
                    <img src="../../public/images/project/unity/unity.png" alt="aboid_block">
                    <p>블럭 피하기 게임</p>
                </a>
            </li>
        </ul>
    </div>
</body>

</html>