<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>리얼타임 게임</title>
    <link rel="stylesheet" href="../../../public/stylesheet/project.css">
</head>

<body>
    <div id="real-time-game">
        <div class="project-infomation">
            <h2>Real-time Game</h2>
            <p>
                제작기간: 5일 (2020.03.01 ~ 03.02)<br>
                개발 인원: 1인<br>
                맡은 역할: 프로그래밍<br>
                개발 환경: HTML, CSS, Javascript<br>
            </p>
            <ul>
                <li>
                    <img src="" alt="">
                    <a href="https://test-0605.herokuapp.com/"></a>
                </li>
                <li>
                    <img src="../../../public/images/menu-icon/github.png" alt="github">
                    <a href="https://github.com/seodaun/socket_io-game"
                        target="_blank">github.com/seodaun/socket_io-game</a>
                </li>
            </ul>
        </div>
        <div class="project-screenshot">
            <h2>screenshot</h2>
            <img src="../../../public/images/screenshot/javascript/shoppingmall-1.png" alt="screenshot1">
            <img src="../../../public/images/screenshot/javascript/shoppingmall-2.png" alt="screenshot2">
        </div>
    </div>
</body>

</html>