@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
	--dark-c: #000;

	--font-small: 0.8125rem;
	--font-midium: 0.9rem;
	--font-large: 1.125rem;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
#about {
	width: 100%;
	height: 100%;
}
#about .profile {
	width: 100%;
	height: 11.25rem;
	padding: 0.9375rem;
}
#about .profile h2 {
	font-size: var(--font-large);
	margin: 0 0 0.625rem 0.3125rem;
}
#about .profile .profile-img {
	float: left;
	width: 7.5rem;
	height: 7.5rem;
	overflow: hidden;
	border-radius: 0.3125rem;
}
#about .profile .profile-img img {
	width: 100%;
	height: 100%;
}

#about .profile ul {
	width: 20.625rem;
	height: 7.5rem;
	list-style: none;
	font-size: var(--font-midium);
	float: left;
}
#about .profile ul li {
	width: 100%;
	height: 2.5rem;
	list-style: none;
	display: flex;
	align-items: center;
}
#about .profile ul li img {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0.625rem;
}
#about .profile ul li p,
a {
	float: left;
	font-size: var(--font-small);
	line-height: 2.5rem;
}
#about .profile ul li a {
	color: var(--dark-c);
	text-decoration: none;
}

#about div.education {
	width: 100%;
	height: 6.25rem;
	padding: 0.9rem; 
}
#about div.education h2 {
	font-size: var(--font-large);
	margin: 0 0 0.3rem 0.3125rem;
}
#about div.education img {
	float: left;
	width: 2.3rem;
	height: 2.3rem;
	margin: 0.15625rem 0.625rem 0.15625rem 0.3125rem;
}
#about div.education p {
	font-size: var(--font-small); 
	line-height: 1.25rem;
}  
#about div.education h5 { 
	line-height: 1.25rem;
}  