<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheet/about.css">
  <title>about</title>
</head>

<body>
  <div id="about">
    <div class="profile">
      <h2> profile</h2>
      <div class="profile-img">
        <img src="../public/images/about/profile/profile.jpg" alt="profile-img">
      </div>
      <ul>
        <li>
          <img src="../public/images/about/icon/home.png" alt="location">
          <p>Mapo-gu, Seoul, Korea</p>
        </li>
        <li>
          <img src="../public/images/about/icon/mail.png" alt="mail">
          <a href="mailto:daun4799@naver.com">daun4799@naver.com</a>
        </li>
        <li>
          <img src="../public/images/about/icon/github.png" alt="github">
          <a href="https://github.com/seodaun" target="_blank">seodaun</a>
        </li>
      </ul>
    </div>
    <div class="education">
      <h2> education</h2>
      <img src="../public/images/about/education/sdhs.png" alt="sdhs">
      <h5>Seoul Digitech High School</h5>
      <p>2018.03 ~ now</p>
    </div>
  </div>
</body>

</html>