<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheet/about.css">
  <title>about</title>
</head>

<body>
  <div id="about">
    <ul class="about-list">
      <li>
        <div class="profile">
          <h2> profile</h2>
          <div class="profile-info">
            <div class="profile-img">
              <img src="../public/images/about/profile/profile.jpg" alt="profile-img">
            </div>
            <ul class="profile-content">
              <li>
                <img src="../public/images/about/icon/home.png" alt="location">
                <p>Mapo-gu, Seoul, Korea</p>
              </li>
              <li>
                <img src="../public/images/about/icon/mail.png" alt="mail">
                <a href="mailto:daun4799@naver.com">daun4799@naver.com</a>
              </li>
              <li>
                <img src="../public/images/about/icon/github.png" alt="github">
                <a href="https://github.com/seodaun" target="_blank">seodaun</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <div class="education">
          <h2> education</h2>
          <div class="education-content">
            <div class="education-img">
              <img src="../public/images/about/education/sdhs.png" alt="sdhs">
            </div>
            <div class="education-info">
              <h4>Seoul Digitech High School</h4>
              <p>2018.03 ~ now</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</body>

</html>