<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>옷입히기 게임</title>
    <link rel="stylesheet" href="../../../public/stylesheet/project.css">
</head>

<body>
    <div id="costume-game">
        <div class="project-infomation">
            <h2>그녀는 예뻣다</h2>
            <p>
                제작기간: 1개월 (2019.04~2019.05)<br>
                개발 인원: 4인<br>
                맡은 역할: 프로그래밍<br>
                개발 환경: C++, Window API, Github, FMOD<br>
            </p>
            <ul>
                <li>
                    <img src="" alt="">
                    <a href=""></a>
                </li>
                <li>
                    <img src="../../../public/images/project/github.png" alt="github">
                    <a href="https://github.com/seodaun/DX9_2D_CostumeGame"
                        target="_blank">github.com/seodaun/DX9_2D_CostumeGame</a>
                </li>
            </ul>
        </div>
        <div class="project-screenshot">
            <h2>screenshot</h2>
            <img src="../../../public/images/screenshot/c++/costume-game-1.PNG" alt="screenshot1">
            <img src="../../../public/images/screenshot/c++/costume-game-2.PNG" alt="screenshot2">
        </div>
    </div>
</body>

</html>